einops>=0.6.0
future>=0.18.2
matplotlib>=3.6.2
minio>=7.1.11
neptune-client>=0.16.15
neurokit2>=0.2.0
numpy>=1.24.0
packaging>=22.0
pandas>=1.5.1
psutil>=5.9.4
python-dotenv>=0.20.0
requests>=2.18.1
rich>=12.5.1
torch>=1.10.0
tqdm>=4.64.1
typeguard>=2.13.3
wfdb>=4.0.0
wandb>=0.13.5